<div class="container" data-controller="table">
  <div class="infoboard">
    <div class="info-quantity">
      <p>Consultas realizadas:</p>
      <p><%= @finished_appointments %></p>
    </div>
    <div class="info-consultation">
      <p>Quantidade de pacientes diferentes no periodo:</p>
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag 'search[date_from]', @search.date_from %>
        <%= text_field_tag 'search[date_to]', @search.date_to %>
        <%= submit_tag 'Search' %>
      <% end %>
      <p><%= @numbers %></p>
    </div>
  </div>
  <h1>Lista de doutores cadastrado no sistema</h1>
  <div class="input-wrapper mb-1">
    <input type="text" id="myInput" placeholder="Procurar doutor/a" data-action="input->table#search">
    <label class="fa fa-search" aria-hidden="true"></label>
  </div>
  <table class="table" id="myTable" data-target="table.table">
    <thead>
      <th>Nome</th>
      <th>CRM</th>
    </thead>
    <tbody>
      <% @ordered.each do |doctor| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= doctor.name %></td>
          <td><%= "#{doctor.crm}/#{doctor.crm_uf}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>