<div class="container">
  <div class="form-group">
    <%= simple_form_for @patient do |f| %>
      <%= f.input :name %>
      <%= f.input :birth_date %>
      <%= f.input :cpf %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>