<div class="container">
  <div class="form-group">
    <%= simple_form_for @doctor do |f| %>
      <%= f.input :name %>
      <%= f.input :crm %>
      <%= f.input :crm_uf %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>