<div class="container">
  <tr>
    <th><%= appointment.id %></th>
    <th><%= appointment.doctor.name %></th>
    <th><%= appointment.patient.name %></th>
    <th><%= appointment.starts_at.strftime("%d/%m/%Y - %H:%m") %></th>
    <th><%= appointment.ends_at.strftime("%d/%m/%Y - %H:%m")  %></th>
    <th>
      <%= link_to edit_appointment_path(appointment) do%>
        <i class="fas fa-edit"></i>
      <% end %>
    </th>
    <th>
      <%= link_to appointment_path(appointment), method: :delete, data: { confirm: 'Tem certeza?' } do%>
        <i class="fas fa-trash"></i>
      <% end %>
    </th>
  </tr>
</div>